classes
.classpath
.project
.settings
*.class
/build
*target
.project
*test-output
*.hibernateSynchronizer
webapp/src/main/webapp/static/node_modules/
.idea/
admin/src/main/webapp/node_modules/
*.iml
webapp/src/main/webapp/html/*
mobile/src/main/webapp/html/*
admin/src/main/webapp/WEB-INF/web.xml
.externalToolBuilders
/pom.xml
.cache/
template.js
package.json
cron/data/log/appstore/cron/performance.log
admin/src/main/webapp/build/
